*
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: pink;
    padding: 15px;
    text-align: center;
    color: white;
}


section {
    padding: 20px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}
.logo img{
    border-radius: 50%;
    float: left;
    width: 120px;
    height: auto;
}
ul li{
    display: inline-block;
    font-size: 20px;
}
ul li a{
    text-decoration: none;
    color: maroon;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5 ease;
}

ul li a:hover{
    background-color: transparent;
    color: green;
}

ul li.active a{
    background-color: transparent;
    color: blue;
}

h2{ 
text-align: center;
}

p{
text-align: justify;
font-size: 20px;
}