*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(4rnhs.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 60px;
    font-size: 20px;
}

ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: orange;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5 ease;
}

ul li a:hover{
    background-color: transparent;
    color: rgb(183, 197, 33);
}

ul li.active a{
    background-color: transparent;
    color: rgb(217, 38, 148);
}

.logo img{
        border-radius: 50%;
        float: left;
        width: 120px;
        height: auto;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.title h1{
    color: rgb(240, 240, 101);
    font-size: 60px;
}

.title h2{
    color: white;
    font-size: 35px;
}
.button{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.btn{
    border: 1px solid gold;
    padding: 5px 20px;
    color: gold;
    transition: 0.5 ease;
    font-size: 20px;
    text-decoration: none;
}

.btn:hover{
    background-color: orange;
    color: #000;
}